body{
  color: brown;
  background-image: url("http://www.claypaky.it/media/news/images/mirage-magic-digital-lighting.jpg");
}
nav{
 background-color: white;
 width: 200px;
 height: 100px;
 margin: 20px;
 padding-top: 3px;
 padding-right: 15px;
 padding-bottom: 5%;
 color: green;
 border: 5px orange;
 float: right;
}
.intro{
border-width: thin;
border:medium solid red;
background-color: #7fff00;
text-align: left;
padding-left: 5%;
padding-bottom: 5%;
padding-top: 2%;
margin-right: 40%;
}
.base{
  border:5px orange;
  background-color: #ffff00;
  text-align: left;
  margin-right: 26%;
  margin-left: 22%;
  margin-top: 10%;
  margin-bottom: 5%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-top: 1%;
  }
  .ttle{
    text-align: center;
  }
  img{
    width: 200px;
  }
  /*change img size just fixe width*/
.syst{
  border:5px orange;
  background-color: #ffff00;
  text-align: left;
  margin-right: 26%;
  margin-left: 22%;
  margin-top: 10%;
  margin-bottom: 5%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-top: 1%;
}
.library{
  border:5px orange;
  background-color: #f5f5f5;
  text-align: left;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 1%;
}
.man{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.ls{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.cd{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.mv{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.cp{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.rm{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.mkdir{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.top{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.ln{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;nge;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.pwd{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.find{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.grep{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.loc{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.cat{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.more{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.less{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.id{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.sudo{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.apt-g{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.apt-c{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.chmod{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.chown{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.chgrp{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.free{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
  border: 50px orange;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
}
.ps{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.shutd{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.pasw{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.grps{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.aduser{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.delus{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.df{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.fdsk{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.du{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.updtm{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.fl{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.ttr{
  color:deeppink;
  border-bottom-width: thick;
  border:medium solid blue;
  background-color: white;
  text-align: center;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-top: 2%;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 20px;
}
