body{
  color: brown;
  background-image: url("http://www.claypaky.it/media/news/images/mirage-magic-digital-lighting.jpg");
}
nav{
 background-color: white;
 width: 200px;
 height: 100px;
 margin: 20px;
 padding-top: 3px;
 padding-right: 15px;
 color: green;
 border: 5px orange;
 float: right;
}
.intro{
border:5px orange;
background-color: #7fff00;
text-align: left;
}
.base{
  border:5px orange;
  background-color: #ffff00;
  text-align: left;
  margin-right: 26%;
  margin-left: 22%;
  margin-top: 10%;
  margin-bottom: 5%;
  }
  .ttle{
    text-align: center;
  }
.syst{
  border:5px orange;
  background-color: #ffff00;
  text-align: left;
  margin-right: 26%;
  margin-left: 22%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.library{
  border:5px orange;
  background-color: #f5f5f5;
  text-align: left;
}
.man{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.ls{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.cd{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.mv{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.cp{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.rm{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;;
}
.mkdir{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;ge;
}
.top{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.ln{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;nge;
}
.pwd{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;e;
}
.find{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.grep{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;;
}
.loc{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.cat{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.more{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;;
}
.less{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.id{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.sudo{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;;
}
.apt-g{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.apt-c{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;e;
}
.chmod{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;;
}
.chown{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.chgrp{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.free{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
  border: 50px orange;
}
.ps{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.shutd{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.pasw{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.grps{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.aduser{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.delus{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.df{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.fdsk{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.du{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.updtm{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
.fl{
  background-color: #f0ffff;
    width: auto;
    height: auto;
    margin: 20px;
    border: 50px orange;
}
